<div class="container">
    <div class="row">
        <div class="col-md-14 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1 mat-dialog-title>Registrar Producto</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="formAgInventario">

                        <!--FORMULARIO NOMBRE -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input formControlName="nombre" matInput placeholder="Ingrese Nombre producto" />
                                <mat-error> Debe Ingresar <strong>Nombre</strong> de Producto</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- FORMULARIO CANTIDAD -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Cantidad</mat-label>
                                <input formControlName="cantidad" matInput
                                    placeholder=" Ingrese Cantidad de Productos" />
                                <mat-error> Debe Ingresar <strong>Cantidad</strong> de Producto</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- FORMULARIO UNIDAD -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Unidad</mat-label>
                                <input formControlName="unidad" matInput placeholder="Ingrese Unidad del producto" />
                                <mat-error> Debe Ingresar Unidad que pertenece Producto</mat-error>
                            </mat-form-field>
                        </div>



                        <div class="form-row col-md-12">
                            <div class="form-group col-md-1">
                                <input type="file" (change)="capturarFile($event)" formControlName="imagenes">
                            </div>

                            <div *ngIf="previsualizacion">
                                <img  width="100px"   [src]="previsualizacion" alt="">
                            </div>

                        </div>
                    
                        <div mat-dialog-actions [align]="'end'">
                            <button mat-raised-button class="btn btn-warning" mat-dialog-close
                                (click)="cancelar()">Cancelar</button>
                            <button style="margin-left: 8px" mat-raised-button class="btn btn-success"
                                [disabled]="formAgInventario.invalid" (click)="registrarInventario()">
                                Registrar Producto </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>