<div class="container">
    <div class="row">
        <div class="col-md-14 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1 mat-dialog-title>Registrar Producto</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="formAgInventario">

                        <!--FORMULARIO NOMBRE -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input formControlName="nombre" matInput placeholder="Ingrese Nombre producto" />
                                <mat-error> Debe Ingresar <strong>Nombre</strong> de Producto</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- FORMULARIO CANTIDAD -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Cantidad</mat-label>
                                <input formControlName="cantidad" matInput placeholder=" Ingrese Cantidad de Productos" />
                                <mat-error> Debe Ingresar <strong>Cantidad</strong> de Producto</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- FORMULARIO UNIDAD -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Unidad</mat-label>
                                <input formControlName="unidad" matInput placeholder="Ingrese Unidad del producto" />
                                <mat-error> Debe Ingresar Unidad que pertenece Producto</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group row">
                            <mat-label for="photo" class="sol-sm-2 col-form-label">Photo</mat-label>
                            <div class="col-sm-9">
                            
                            </div>   
                        </div>

                        <input type="file" class="file-upload" onchange="console.log(event.target.files)">


                        <div mat-dialog-actions [align]="'end'">
                            <button mat-raised-button class="btn btn-warning" mat-dialog-close
                                (click)="cancelar()">Cancelar</button>
                            <button style="margin-left: 8px" mat-raised-button class="btn btn-success"
                                [disabled]="formAgInventario.invalid" (click)="registrarInventario()">
                                Registrar Producto </button>
                        </div>


                        

                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>