<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
          Ingresar
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()" [formGroup]="miFormulario">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email"
                id="email" formControlName="email">

              <span class="form-text text-danger" *ngIf="campoEsValido('email')">
                Debe utilizar Formato:  <strong>  ejemplo@prueba.cl  </strong>            </span>

            </div>
            <div class="form-group">
              <label for="Pasword"> Password:</label>
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control"
                placeholder="password" id="password" formControlName="password">
              <span class="form-text text-danger" *ngIf="campoEsValido('password')">
                Debe completar campo password.
              </span>

            </div>
            <button type="submit" class="btn btn-success"  [disabled]="miFormulario.invalid"> Ingresar </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>