<div class="container">
    <div class="row">
        <div class="col-md-14 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1 mat-dialog-title>Registro de Usuario</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="formAgUsuario">                      

                        <!--FORMULARIO USUARIO -->
                        <div mat-dialog-content >
                            <mat-form-field appearance="outline" >
                                <mat-label>Usuario</mat-label>
                                <input formControlName="user" matInput placeholder="Ingrese Nombre & Apellido" />
                            </mat-form-field>

                        </div>

                        <!-- FORMULARIO EMAIL -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput placeholder="Ejemplo@test.cl" />
                            </mat-form-field>
                        </div>

                        <!-- FORMULARIO PASSWORD -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password"formControlName="password" matInput placeholder="password" />
                            </mat-form-field>
                        </div>
                        <!-- FORMULARIO ROL -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo de Rol </mat-label>
                                <mat-select [(ngModel)]="user.id_role" formControlName="id_role">
                                    <mat-option value="admin">Administrador</mat-option>
                                    <mat-option value="user">Usuario</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div mat-dialog-actions [align]="'end'">
                            <button mat-raised-button class="btn btn-warning" mat-dialog-close (click)="cancelar()">Cancelar</button>
                            <button style="margin-left: 8px" mat-raised-button class="btn btn-success" [disabled]="formAgUsuario.invalid" (click)="registrarUsuario()">
                                Registrar
                                Usuario </button>
                        </div>


                        <!-- <td>
                            <button type="submit" class="btn btn-success" [disabled]="formAgUsuario.invalid"> Registrar
                                Usuario </button>

                        <td> -->
                        <!-- <td><button class="btn btn-warning" (click)="cancelar()"> Cancelar </button></td> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>