<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    Registrar Personal
                </div>
                <div class="card-body">
                    <form (submit)="registrarPersonal()" [formGroup]="formAgPersonal">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" [(ngModel)]="personal.nombre" 
                                name="nombre" class="form-control"
                                formControlName="nombre" 
                                placeholder="escriba el nombre">
                                <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
                                    debe llenar el campo.
                                </span>
                            </div>
                            <label>Apellido</label>
                            <input type="text" [(ngModel)]="personal.apellido" name="apellido" class="form-control"
                                formControlName="apellido" placeholder="escriba el apellido">
                                <span class="form-text text-danger" *ngIf="campoEsValido('apellido')">
                                    debe llenar el campo.
                                </span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" [(ngModel)]="personal.correo" name="correo" class="form-control"
                                placeholder="Correo: example@test.com" formControlName="correo">
                                <span class="form-text text-danger" *ngIf="campoEsValido('correo')">
                                    debe utilizar el siguiente formato : example@test.com
                                </span>
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="formAgPersonal.invalid">
                            Registrar Personal
                        </button>  
                        
                        <!-- <button class="btn btn-warning" (click)="cancelar()" > Cancelar </button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>