<div class="container">
    <div class="row">
        <div class="col-md-14 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1 mat-dialog-title>Registro Personal</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="formAgPersonal">

                        <!--FORMULARIO NOMBRE -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input formControlName="nombre" matInput placeholder="Ingrese Nombre" />
                                <mat-error >Escriba su Nombre</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- FORMULARIO APELLIDO -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido</mat-label>
                                <input formControlName="apellido" matInput placeholder=" Ingrese Apellido" />
                                <mat-error >Escriba su Apellido</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- FORMULARIO CORREO -->
                        <div mat-dialog-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Correo</mat-label>
                                <input formControlName="correo" matInput placeholder="ejemplo@prueba.cl" />                                
                                <mat-error >Escriba su Correo Formato ejemplo@prueba.cl</mat-error>
                            </mat-form-field>   
                        </div>

                        <div mat-dialog-actions [align]="'end'">
                            <button mat-raised-button class="btn btn-warning" mat-dialog-close
                                (click)="cancelar()">Cancelar</button>
                            <button style="margin-left: 8px" mat-raised-button class="btn btn-success"
                                [disabled]="formAgPersonal.invalid" (click)="registrarPersonal()">
                                Registrar Personal </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

