<h1>Lista de Personal</h1>
<table class="table table-hover">
    <thead>
        <tr class="table table-dark">
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col"> Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-info" *ngFor="let persona of personal; let i index"
            [class.active]="setActivePersonal(persona, i)">
            <td>{{persona.id_persona}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.correo}}</td>
            <td>
               
                <button class="btn btn-warning"
                    routerLink="/modificarPersonal/{{currentPersonal.id_persona }}">Modificar</button>
                <button class="btn btn-danger" (click)="eliminarPersonal(persona.id_persona)">Eliminar</button>
               
            
        </tr>
    </tbody>
</table>