<!-- <h1>Lista de Personal</h1>
<table class="table table-hover">
  <thead>
    <tr class="table table-dark">
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col"> Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info" *ngFor="let persona of personal; let i index" [class.active]="setActivePersonal(persona, i)">
      <td>{{persona.id_persona}}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido}}</td>
      <td>{{persona.correo}}</td>
      <td>

        <button class="btn btn-warning"
          routerLink="/modificarPersonal/{{currentPersonal.id_persona }}" >Modificar</button>
        <button class="btn btn-danger" (click)="eliminarPersonal(persona.id_persona)"> Eliminar</button>
        <button type="button" (click)="editarPersonal(persona)" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          Modificar
        </button>




    </tr>
  </tbody>
</table> -->


<table class="table table-striped row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
    <tr class="table table-dark">
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col"> Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info" *ngFor="let persona of personal; let i index" [class.active]="setActivePersonal(persona, i)">
      <td>{{persona.id_persona}}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido}}</td>
      <td>{{persona.correo}}</td>
      <td>

        <button class="btn btn-warning"
          routerLink="/modificarPersonal/{{currentPersonal.id_persona }}" >Modificar</button>
        <button class="btn btn-danger" (click)="eliminarPersonal(persona.id_persona)"> Eliminar</button>
        <!-- <button type="button" (click)="editarPersonal(persona)" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          Modificar
        </button> -->
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Personal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="nombre" formControlName="nombre" class="form-control" id="nombre" aria-describedby="nombre">

          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" formControlName="apellido" class="form-control" id="apellido">
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">correo</label>
            <input type="email" formControlName="correo" class="form-control" id="correo">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" (click)="modificarPersonal(id_persona)" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>




